include README.md
include LICENSE
include CONTRIBUTING
include pyproject.toml
include anwdlclient-uninstall
include anwdlclient-uninstall.bat

recursive-include resources *
recursive-include anwdlclient *